@model UILayer.Models.UserSignUpModel
@{
    Layout = null;
}

<form method="post">
    <label>Adınız</label>
    <input type="text" asp-for="Name" class="form-control" />
    <br />
    <label>Soyadınız</label>
    <input type="text" asp-for="Surname" class="form-control" />
    <br />
    <label>Mail Adresiniz</label>
    <input type="text" asp-for="Mail" class="form-control" />
    <br />
    <label>Kullanıcı Adınız</label>
    <input type="text" asp-for="Username" class="form-control" />
    <br />
    <label>Cinsiyetiniz</label>
    <input type="text" asp-for="Gender" class="form-control" />
    <br />
    <label>Şifreniz</label>
    <input type="text" asp-for="Password" class="form-control" />
    <br />
    <label>Şifre Tekrar</label>
    <input type="text" asp-for="ConfirmPassword" class="form-control" />
    <br />
    <button class="btn btn-info">Kayıt Ol</button>
</form>